.compare {
  background: white;
  width: 90%;
  min-height: 85vh;
  margin: 0 auto;
  position: relative;
  &__text {
    width: 80%;
    margin: 0 auto;
    background: #fd7e14;
    color: white;
    padding: 20px 30px 20px 30px;
    margin-top: 35px;
    margin-bottom: 45px;
    border-radius: 20px;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0px;
      font-weight: 600;
    }

    p {
      margin-top: 5px;
      max-width: 400px;
      font-weight: 400;

    }
  }

  &__buttons {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    button {
      min-width: 200px;
      height: 35px;
      cursor: pointer;
      border: none;
      background: rgb(32, 64, 65);
      color: white;
      border-radius: 20px;
    }
  }

  &__brand-items {
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;

    &__flex {
      margin-top: 200px;
    }
  }
}

.escape {
  z-index: 999999;
  position: fixed;
  right: 100px;
  cursor: pointer;
  width: 50px;
}