.header {
  height: 35px;
  padding: 16px 30px 10px;
  background: #faf6f0;
  background-color: rgb(250, 246, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 100px;
  }
}