.announcebar-contatiner {
  width: 100%;
  max-height: 38px;
  text-align: center;
  background-color: #204041;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
    line-height: 1.2rem;

  &__body {
    color: white;
  }
}